<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/GenericError.aspx"/>
    <sessionState cookieless="false" regenerateExpiredSessionId="false"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="ATCGW.Service" value="http://192.168.10.25/airtelcgw/Service.asmx"/>
    <add key="ATASE.Service" value="http://192.168.10.25/ASESubscription/Service.asmx"/>
    <add key="HSProfiling.service" value="http://wap.shabox.mobi/HSProfiling_WS/service.asmx"/>
    <add key="BLSDP.BLSDP_CGW" value="http://192.168.10.22/blsdp_cgw/BLSDP_CGW.asmx"/>
    <add key="TTCGW.Service" value="http://192.168.10.23/TTCGW/Service.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SDPCGWSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.10.5/SDP_CGW/SDPCGW.asmx" binding="basicHttpBinding"
        bindingConfiguration="SDPCGWSoap" contract="SDPROBI.SDPCGWSoap"
        name="SDPCGWSoap" />
    </client>
  </system.serviceModel>
</configuration>